.cabeza-recomendados{

  display: flex;
  text-align: center;
  color: black;
  
}
.container-recomendados{
  display: flex;
  flex-wrap: wrap;
  
}
.libro-recomendado{
  display: flex;
  flex-direction: row;
  margin: 10px 10px 10px 10px
}
.container-grande-recomendados{
  display: flex;
  flex-direction: column;
  padding: 100px;
  min-width: 100px;
  min-height: 130px;

}
.menu{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-left: 20px;
  margin-right: 20px;
}
.nav-menu{
  display: flex;
  justify-content: center;
  padding: 60px;
}
.margin-secciones{
  margin-left: 5px;
  margin-right: 5px;
}
.presenta-libros{
  display: flex;
  justify-content: center;
  padding: 60px;
  align-items:center;
}

.sinestilo{
  font-family: "CooperBlackStd";
  text-decoration: none;
}
.estilo-texto{
  font-family: "MinionPro-Cn";
  text-decoration: none;
  text-align: justify;
  
}
.elementos-libro{
  align-items: center;
}
.libros-envueltos{
  display: flex;
  flex-direction: row;
}
.cabecera-general{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 1400px;
  height: 120px;
  margin-top: 5px;
}
.login{
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  align-items: center;
  
}
.input-login{
  margin: 2px 10px 2px 10px;
  align-items: center;
}
.registro-general{
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
}
.narrativa-general{
  display:flex;
  align-items: center;
  
}


.carrusel{
  max-width: 200px;
  max-height: 200px;
}

.img-secciones{
  max-width: 150px;
  max-height: 150px ;
}
.fondo-seccion{
  background-color: #CD282A;
  text-align:center;
  border-radius: 80px;
  padding: 10px;
}
.libros{
  padding: 25px;
}
.viaja2{
  display: flex;
  flex-direction: row;
  
  
}
.viaja{
  display: flex;
  align-items: center;
  text-align: center;
  background-color: #EBDFE6;
  border-radius: 40px;
}
.footer{
  padding: 100px;

}
